.score_table {
    overflow-x: auto;
}

table { 
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 600px;
    border-collapse: collapse; border-spacing: 0; 
}
          
 td, th { height: 30px; }
             
th {
  /* Gradient Background */
    background: linear-gradient(#333 0%,#444 100%);
    color: #FFF; font-weight: bold;
    height: 40px;
}
        
td { background: #FAFAFA; text-align: center;  }

/* Zebra Stripe Rows */
        
tr:nth-child(even) td { background: #EEE; } 
tr:nth-child(odd) td { background: #FDFDFD; }


/* Add border-radius to specific cells! */
tr:first-child th:nth-child(2) { 
  border-radius: 5px 0 0 0; 
} 

tr:first-child th:last-child { 
  border-radius: 0 5px 0 0; 
}

td:hover {
    /* background-color: #ddd; */
}